* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}

body {
  background-color: #212121;
  color: #fff;
  transition: background-color 0.3s, color 0.3s;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 24px;
}
body.light-mode {
  background-color: #ffffff;
  color: #000;
}

.chatbox, .down, #input-box, #uploads {
  background-color: #303030;
  transition: background-color 0.3s;
}
.light-mode .chatbox, .light-mode .down, .light-mode #input-box, .light-mode #uploads {
  background-color: #AAB99A;
}

.message {
  background-color: #555;
  transition: background-color 0.3s;
}
.light-mode .message {
  background-color: #727d73;
  color: white;
}

#attach-button, #send-button {
  background-color: #555;
  color: white;
  transition: background-color 0.3s;
}
.light-mode #attach-button, .light-mode #send-button {
  background-color: #727d73;
  color: white;
}

.upload-item {
  margin: 3px 5px;
  padding: 3px 5px;
  border-radius: 5px;
  background-color: #555;
  color: white;
  transition: background-color 0.3s;
  display: inline-block;
}
.light-mode .upload-item {
  background-color: #727d73;
}

.message-file {
  color: white;
  display: block;
}

.light-mode #input-box {
  color: black;
}

#themechange {
  width: 30px;
  position: absolute;
  top: 20px;
  right: 30px;
}

#themechange:hover {
  cursor: pointer;
}

#logo {
  margin-bottom: 20px;
  width: 50px;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.chatbox {
  background-color: #303030;
  height: 80vh;
  width: 60vw;
  position: relative;
  border-radius: 1em;
  padding-bottom: 50px;
  overflow: hidden;
}

.messages {
  overflow-y: auto;
  padding: 2em 2em;
  height: auto;
  flex-grow: 1;
  max-height: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  border-radius: 1em;
}

.message,
.blank {
  width: -moz-fit-content;
  width: fit-content;
  max-width: 300px;
  min-width: 50px;
  word-wrap: break-word;
  height: auto;
  background-color: #555;
  color: white;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  margin: 5px 0;
}

.blank {
  animation: blink 2s;
}

@keyframes blink {
  0% {
    background-color: #333;
  }
  25% {
    background-color: gray;
  }
  50% {
    background-color: #333;
  }
  75% {
    background-color: gray;
  }
  100% {
    background-color: #333;
  }
}
.sent {
  align-self: flex-end;
}

.received {
  align-self: flex-start;
}

.down {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  background-color: #303030;
}

.remove {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
}

.remove:hover {
  cursor: pointer;
}

#uploads {
  bottom: 0;
  padding: 5px 100px;
  font-size: 16px;
  background-color: #303030;
  width: auto;
}

.input-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

#input-box {
  background-color: #303030;
  font-family: Arial, Helvetica, sans-serif;
  width: 78%;
  margin: 0 30px 40px 30px;
  border: transparent;
  color: #fff;
  font-size: 16px;
  border-top: 2px solid #444;
  padding: 10px 0 0 0;
  resize: none;
  overflow-y: auto;
  min-height: 40px;
  max-height: 250px;
}

#input-box:focus {
  outline: none;
}

#attach-button {
  background-color: #555;
  color: white;
  border: none;
  width: 40px;
  height: 40px;
  margin: 0 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
}

#attach-button:hover {
  background-color: #777;
}

#send-button {
  background-color: #555;
  color: white;
  border: none;
  width: 40px;
  height: 40px;
  margin: 0 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
}

#send-button:hover {
  background-color: #777;
}

@media screen and (max-width: 1200px) {
  body {
    font-size: 16px;
  }
  #themechange {
    width: 24px;
  }
  #logo {
    width: 30px;
  }
  .chatbox {
    background-color: #303030;
    height: 80vh;
    width: 90vw;
    position: relative;
    border-radius: 1em;
    padding-bottom: 50px;
    overflow: hidden;
  }
  .messages {
    padding: 1em;
  }
  .message,
  .blank {
    max-width: 200px;
  }
  #uploads {
    padding: 5px 0;
  }
}